body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: url("../img/bg1.jpg") no-repeat fixed;
    background-size: cover;
}


.s_form {
    background-color: rgba(0, 0, 0, 0.7);
}
